.button {
	cursor: pointer;
}

.del-btn {
	background-color: red;
	color: white;
	border-radius: 5px;
	padding: 0 2px;
}

.del-btn:hover {
	scale: 1.2;
}

footer > .button {
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.modal-close-btn {
	position: absolute;
	right: -0;
	top: -0;
}