/* icon colors */

.filter-blue {
    filter: invert(17%) sepia(97%) saturate(4457%) hue-rotate(241deg) brightness(115%) contrast(139%);
}

.filter-red {
    filter: invert(26%) sepia(90%) saturate(2174%) hue-rotate(9deg) brightness(99%) contrast(102%);
}

.filter-gray {
    filter: invert(36%) sepia(9%) saturate(1550%) hue-rotate(200deg) brightness(93%) contrast(89%);
}

.filter-green {
    filter: invert(57%) sepia(48%) saturate(661%) hue-rotate(76deg) brightness(93%) contrast(89%);
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'icon count' 'title .';
	align-items: center;
	/* background-color: rgba(112, 73, 73,1); */
	gap: 5px;
	border: 1px solid var(--subtext);
}

.card img {
    grid-area: icon;
    align-self: end;
}

.card span {
    grid-area: count;
    align-self: start;
    justify-self: end;
    padding: 10px;
}

.card p {
    grid-area: title;
    align-self: start;
    padding: 5px;   /* to align with icon */
}