header {
    display: grid;
    grid-area: header;
    align-items: start;
}

#search {
    padding-left: 35px;
    background: white url('../icons/magnifying-glass-solid.svg') no-repeat 10px 10px;
    outline: none;
}