header {
    display: grid;
    grid-area: header;
    align-items: start;
}

#search {
    padding-left: 35px;
    background: var(--modal-background) url('../icons/magnifying-glass-solid.svg') no-repeat 10px 10px;
    color: white;
    border: 0;
    outline: none;
}