#reminder-modal {
	/* display: grid; */
	min-height: 100vh;
}

#reminder-modal button {
	width: 100px;
}

#reminder-modal button:first-of-type {
	grid-area: done;
	/* justify-self: end; */
}

#reminder-modal button:last-of-type {
	grid-area: reset;
}
