.modal {
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--modal-background);
	position: absolute;
	inset: 0;
	z-index: 10;
	/* fixes issue with add list button icon showing on top of reminder modal */
}

#reminder-modal {
	/* display: grid; */
	min-height: 100vh;
}

#reminder-modal button {
	width: 100px;
}

#reminder-modal button:first-of-type {
	grid-area: done;
	/* justify-self: end; */
}

#reminder-modal button:last-of-type {
	grid-area: reset;
}
