.reminder {
    display: grid;
    background-color: var(--card);
    border-top: 1px solid darkgrey;
    grid-template-columns: 50px 100px 1fr max-content;
    grid-template-rows: max-content repeat(3, 1fr);
    grid-template-areas: 'heading heading heading heading' 
                        'checkbox title title closeBtn' 
                        '. notes notes notes' 
                        '. dueDate dueTime priority';
    padding: 10px;
}

.reminder [type='checkbox'] {
    grid-area: checkbox;
    align-self: start;
}

.reminder h4 {
    grid-area: title;
}

.reminder span {
    grid-area: closeBtn;
    align-self: start;
}

.reminder p:nth-of-type(1) {
    grid-area: notes;
    color: var(--subtext);
}

.reminder p:nth-of-type(2) {
    grid-area: dueDate; 
    color: var(--subtext);
}

.reminder p:nth-of-type(3) {
    grid-area: dueTime;
    color: var(--subtext);
}

.reminder p:nth-of-type(4) {
    grid-area: priority;
}

/* SHORT REMINDER */
.reminder-short {
    display: grid;
    padding: 10px;
    border-top: 1px solid darkgrey;
    grid-template-columns: 30px 1fr max-content;
    /* grid-template-areas: 'checkbox info btn';  */
}

.reminder-short > div {
    display: grid;
    grid-area: info;
    grid-template-areas: 'checkbox title date time priority button';
    grid-template-columns: max-content 1fr 100px 50px 10px max-content;
    justify-items: center;

}

.reminder-short input {
    grid-area: checkbox;
}

.reminder-short > div h4 {
    grid-area: title;
    justify-self: start;
}

.reminder-short > div p:first-of-type {
    grid-area: date;
}

.reminder-short > div p:nth-of-type(2) {
    grid-area: time;
}

.reminder-short > div p:last-of-type {
    grid-area: priority;
}

.reminder-short span {
    grid-area: button;
}