.border {
    /* border: 1px solid black; */
    border-radius: 14px;
}

.banner {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    background-color: var(--card);
    grid-template-columns: max-content 1fr 100px max-content;
    align-items: center;
    gap: 5px;
}

.button {
    cursor: pointer;
}

.close-btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0 2px;
}

.close-btn-2 {
    color: var(--input);
}

.close-btn-2:hover {
    scale: 1.7;
    color: red;
}

.close-btn:hover {
    scale: 1.2;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'icon count' 'title .';
    align-items: center;
    padding: 10px;
    background-color: var(--card);
    gap: 5px;
}

.drop-down {
    background-color: var(--card);
    border-top: 1px solid darkgrey;

}

.filter-blue {
    filter: invert(17%) sepia(97%) saturate(4457%) hue-rotate(241deg) brightness(115%) contrast(139%);
}

.filter-red {
    filter: invert(26%) sepia(90%) saturate(2174%) hue-rotate(9deg) brightness(99%) contrast(102%);
}

.filter-gray {
    filter: invert(36%) sepia(9%) saturate(1550%) hue-rotate(200deg) brightness(93%) contrast(89%);
}

.filter-green {
    filter: invert(57%) sepia(48%) saturate(661%) hue-rotate(76deg) brightness(93%) contrast(89%);
}

.form-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: max-content 1fr;
    grid-column: 2;
    background-color: var(--card);
    position: relative;
}

.input {
    background-color: var(--input);
    border: 0;
    padding: 6px;
    border-radius: 14px;
}

.list-wrapper {
    display: grid;
}

.modal {
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--modal-background);
    position: absolute;
    inset: 0;
    z-index: 10;
    /* fixes issue with add list button icon showing on top of reminder modal */
}

.modal-btn {
    position: absolute;
    right: -0;
    top: -0;
}

.visible {
    display: grid;
}