footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: end; 
    gap: 10px;
}

footer form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

footer button {
    border: 0;
    border-radius: 14px;
    padding: 5px 40px;
    color: blue;
}

/* FOOTER MODALS */

#reminder-modal {
    /* display: grid; */
}

#reminder-modal input {
    width: 150px;
}

#list-modal {
    display: grid;
}

#list-modal form {
    grid-template-areas: '. input input .' '. color color .' 'done done reset reset';
    gap: 10px;
}

#list-modal input:first-of-type {
    width: 250px;
    grid-area: input;
}

#list-modal input:nth-of-type(2) {
    grid-area: color;
}

#list-modal button:first-of-type {
    grid-area: done;
}

#list-modal button:last-of-type {
    grid-area: reset;
}