footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: end; 
    gap: 10px;
}

footer button {
    width: 200px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 0;
    border-radius: 14px;
    padding: 8px;
    color: blue;
}

footer form {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: 100px;
    grid-column: 2;
    align-items: center;
    background-color: white;
    position: relative;
}

/* FOOTER MODALS */

/* #reminder-modal {
} */

#reminder-modal input {
    width: 150px;
}

#list-modal {
    /* z-index: -1; */
    display: grid;
}

#list-modal input:first-of-type {
    width: 250px;
}

#list-modal * {
    justify-self: center;
}