footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: end; 
    gap: 10px;
}

footer form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    align-items: center;
}

footer button {
    width: 200px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 0;
    border-radius: 14px;
    padding: 8px;
    color: blue;
}

/* FOOTER MODALS */

#reminder-modal {
    /* display: grid; */
}

#reminder-modal input {
    width: 150px;
}

#list-modal {
    display: grid;
}

#list-modal form {
    
}

#list-modal input:first-of-type {
    width: 250px;
}

#list-modal * {
    /* justify-self: center; */
}