* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

body {
    /* position: relative; */
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, max(300px, 25%));
    height: 100vh;
    min-height: 500px;
    width: 100%;
    min-width: 800px;
    justify-content: center;
    /* using both heigh props because cont was getting "squeezed" with smaller viewport heights; ditto for width, except the problem was cont getting "cut off" */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: 200px ;
    gap: 10px;
}

#wrapper {
    /* height: 100%; */
    padding: 10px;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 2;
    background-color: white;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 'header header' 'main main' 'footer footer';
    background-color: whitesmoke;
}

/* CARDS */

.card img {
    grid-area: icon;
    align-self: end;
}

.card span {
    grid-area: count;
    align-self: start;
    justify-self: end;
    padding: 10px;
}

.card p {
    grid-area: title;
    align-self: start;
    padding: 5px;   /* to align with icon */
}

article {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: min-content 1fr;
    grid-column: span 2;
    gap: 10px;
}

article > div {
    grid-column: inherit;
}

#reminders {    /* aka dropdown */
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: max-content repeat(3, 1fr);
    grid-template-areas: 'heading heading heading heading' 'checkbox title title title' '. notes notes notes' '. dueDate dueTime priority';
    padding: 10px;
}

/* list item count */
.banner span:nth-of-type(1) {
    place-self: center;
}

.banner span:last-of-type:hover {
    color: red;
    
}

#reminders h2 {
    grid-area: heading;
}

#reminders [type='checkbox'] {
    grid-area: checkbox;
}

#reminders h4 {
    grid-area: title;
}

#reminders p:nth-of-type(1) {
    grid-area: notes;
}

#reminders p:nth-of-type(2) {
    grid-area: dueDate; 
}

#reminders p:nth-of-type(3) {
    grid-area: dueTime;
}

#reminders p:nth-of-type(4) {
    grid-area: priority;
}