
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENTS */
body {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, max(300px, 25%));
    height: 100vh;
    min-height: 500px;
    width: 100%;
    min-width: 800px;
    justify-content: center;
    /* using both heigh props because cont was getting "squeezed" with smaller viewport heights; ditto for weight, except the problem was cont getting "cut off" */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}


header {
    display: grid;
    grid-area: header;
    align-items: start;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: 200px ;
    gap: 10px;
}

article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
}

article > div {
    grid-column: inherit;
}

footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: end; 
    gap: 10px;
}

footer button {
    width: 200px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 0;
    border-radius: 14px;
    padding: 8px;
    color: blue;
}

footer form {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: 100px;
    grid-column: 2;
    align-items: center;
    background-color: white;
    position: relative;
}