* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, max(300px, 25%));
    height: 100vh;
    min-height: 500px;
    width: 100%;
    min-width: 800px;
    justify-content: center;
    /* using both heigh props because cont was getting "squeezed" with smaller viewport heights; ditto for weight, except the problem was cont getting "cut off" */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: 200px ;
    gap: 10px;
}

#wrapper {
    /* height: 100%; */
    padding: 10px;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 2;
    background-color: white;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 'header header' 'main main' 'footer footer';
    background-color: whitesmoke;
}

article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
}

article > div {
    grid-column: inherit;
}

#reminder-list {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'heading heading .' 'checkbox item .';
}

#reminder-list h2 {
    grid-area: heading;
}

#reminder-list [type='checkbox'] {
    grid-area: checkbox;
}

#reminder-list p {
    grid-area: item;
}