* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* MEDIA QUERIES */

/* at screen 1200px or less */

/* ELEMENTS */

body {
    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, max(300px, 25%));
    height: 100vh;
    width: 100%;
    min-width: 800px;
    justify-content: center;
    min-height: 500px;
    /* using both heigh props because cont was getting "squeezed" with smaller viewport heights; ditto for weight, except the problem was cont getting "cut off" */
}

header {
    display: grid;
    grid-area: header;
    align-items: start;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
}

article > div {
    grid-column: inherit;
}

footer {
    grid-area: footer;
    display: grid;
    justify-content: end;
    align-content: end; 
    grid-auto-flow: column;
    gap: 10px;
}

footer button {
    width: 100px;
}

footer form {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: 100px;
    grid-column: 2;
    align-items: center;
    background-color: white;
    position: relative;
}

/* IDS */

#reminder-modal {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#wrapper {
    /* overflow: hidden; */
    padding: 10px;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 2;
    background-color: white;
    grid-auto-rows: 1fr;
    grid-template-areas: 'header header' 'main main' 'footer footer';
}

#modal-close-btn {
    position: absolute;
    right: -0;
    top: -0;
}

/* CLASSES */

.card {
    border: 1px solid black;
}

.button {
    cursor: pointer;
}

.banner {
    border: 1px solid red;
}

.hidden {
    visibility: hidden;
}

.visible {
    display: grid;
}

.modal {
    background-color: rgba(0,0,0,0.5);
}